extends layouts/main.pug

block variables
    - var title = 'Homepage';

block content
    .bg-white.px-2.px-md-3.pb-4.pt-2
        header.header.d-md-flex.flex-row.align-items-center
            .header__logo.p-2.mr-auto
                a(href='https://konrad.la/' title='Wybieraj najlepsze doświadczenia').logo
                    img.mw-100(src=require('~images/logo.svg') alt='Wybieraj najlepsze doświadczenia') 
            .header__nav.p-2.navbar.d-none.d-md-flex
                ul.navbar.nav
                    li.nav-item
                        a(href='post.html').nav-link O mnie
                    li.nav-item
                        a(href='#').nav-link Blog
                    li.nav-item
                        a(href='#').nav-link Evently
                    li.nav-item
                        a(href='#').nav-link Webinary
                    li.nav-item
                        a(href='#').nav-link Kontakt
            .socials.d-none.d-md-flex
                a(href='#').mx-2
                    i(data-feather='facebook')
                a(href='#').mx-2
                    i(data-feather='instagram')
                a(href='#').mx-2
                    i(data-feather='linkedin')
                a(href='#').mx-2
                    i(data-feather='youtube')
            include root/hamburger.pug
    .author.container
        .author__inner.d-flex.align-items-center.flex-column-reverse.flex-sm-row
            .author__info.my-5
                h2.h1.font-weight-bold.mb-3 Webinary, marketing, sprzedaż
                h3.h5.font-weight-bold.mb-3 Proponuję Ci sprawdzone i skuteczne rozwiązania
                p.mb-4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla nobis consectetur, porro reiciendis ducimus in nesciunt dolores quo illum quasi quos hic dicta nemo veniam repellat deserunt earum mollitia obcaecati.
                .links.font-weight-bold
                    a(href="#").mr-2.mb-2.border.p-2.bg-primary.text-white.d-inline-block.text-decoration-none
                        | Platforma Evently
                    a(href="#").mr-2.mb-2.border.p-2.d-inline-block.text-decoration-none
                        | Evently LIVE
                    a(href="#").mr-2.mb-2.border.p-2.bg-danger.text-white.d-inline-block.text-decoration-none
                        | Akademia Live
                    a(href="#").mr-2.mb-2.border.p-2.d-inline-block.text-decoration-none
                        | Pobierz ebooka "Jak dobrze przygotować się do LIVE?"
            .author__image.position-relative
                i(data-feather='send').icons.icon-1.position-absolute
                i(data-feather='video').icons.icon-2.position-absolute
                i(data-feather='shopping-cart').icons.icon-3.position-absolute
                i(data-feather='wifi').icons.icon-4.position-absolute
                img(src=require('~images/ja.jpg')).ml-5
    .clearfix
    .bg-light.py-4
        .container
            .row
                .bg-dark.rounded.p-4
                    h2 Test
    .container
        .row
            .col-md-6.mb-5
                img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
                .card-body
                    h2.h2.font-weight-bold Card title
                    p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    a.btn.btn-lg.btn-primary Czytaj więcej
            .col-md-6.mb-5
                img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
                .card-body
                    h2.h2.font-weight-bold Card title
                    p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    a.btn.btn-lg.btn-primary Czytaj więcej
            .col-md-6.mb-5
                img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
                .card-body
                    h2.h2.font-weight-bold Card title
                    p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    a.btn.btn-lg.btn-primary Czytaj więcej
            .col-md-6.mb-5
                img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
                .card-body
                    h2.h2.font-weight-bold Card title
                    p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    a.btn.btn-lg.btn-primary Czytaj więcej


    //- .container.bg-light
    //-     .d-flex.flex-column.flex-md-row.flex-wrap.justify-content-between
    //-         .item.border-0.mx-md-4.mb-5
    //-             img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
    //-             .card-body
    //-                 h2.h2.font-weight-bold Card title
    //-                 p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    //-                 a.btn.btn-lg.btn-primary Czytaj więcej
    //-         .item.border-0.mx-4.mb-5
    //-             img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
    //-             .card-body
    //-                 h2.h2.font-weight-bold Card title
    //-                 p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    //-         .item.border-0.mx-4.mb-5
    //-             img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
    //-             .card-body
    //-                 h2.h2.font-weight-bold Card title
    //-                 p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    //-         .item.border-0.mx-4.mb-5
    //-             img.card-img-top(src=require('~images/post.jpg') alt='Card image cap')
    //-             .card-body
    //-                 h2.h2.font-weight-bold Card title
    //-                 p This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.